# House Price Prediction: EDA

### Introduction

#### Dataset Statistics

#### Data Field Explanation

The House Pricing Prediction dataset consists of 21,612 record of different houses. This dataset consists of a single CSV file, house_price.csv. The columns in the table are:

Id- Unique row number 

Data- Date at which data has been collected

Price- Expected price of each house

Bedrooms- Number of bedrooms in each house

Bathroom- Number of bathrooms in each house

Sqft_living- Living area in sqft

Sqft_lot- Lot size in square feet

Floors- Number of floors in house

Waterfront- Water view in front of house

View- Views from house

Condition- Condition of house

grade- Rating of house

Sqft_above- Area above the ground

Sqft_basement- Area of basement

Yr_built- The year in which house was build

Yr_renovated- The year in which house was renovated

Zipcode- Area code of house

Lat- Latitude of house

Long- Longitude of house

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

### Loading The Data

In [3]:
df=pd.read_csv('house_price.csv')

In [19]:
df.describe(include='all')
#Description of dataset

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,21613,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,...,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
unique,NaN,372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,20140623T000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,4.580302e+09,NaN,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,...,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,NaN,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,...,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,NaN,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,...,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,NaN,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,...,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,NaN,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,...,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,NaN,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,...,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,NaN,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,...,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [10]:
print(df.dtypes)
#Data Types of columns

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [13]:
print(df.head())
# First five lines of dataset

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view     ...      grade  sqft_above  \
0      5650     1.0           0     0     ...          7        1180
1      7242     2.0           0     0     ...          7        2170
2     10000     1.0           0     0     ...          6         770
3      5000     1.0           0     0     ...          7        1050
4      8080     1.0           0     0     ...          8        1680

   sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
0              0      1955             0    98178  47.5112 -122.257
1            400      1951          1991    98125  47.7210 -122.319
2              0      1933             0    98028  47.7379 -122.233
3            910      1965             0    98136  47.5208 -122.393
4              0      1987             0    98074  47.6168 -122.045

   sqft_living15  sqft_lot15
0           1340        5650
1           1690        7639
2           2720        8062
3           1360        5000
4           1800        7503

[5 rows x 21 columns]

In [17]:
print(df.shape) 
# shape of dataset

(21613, 21)

In [20]:
print(df.info)

<bound method DataFrame.info of                id             date      price  bedrooms  bathrooms  \
0      7129300520  20141013T000000   221900.0         3       1.00
1      6414100192  20141209T000000   538000.0         3       2.25
2      5631500400  20150225T000000   180000.0         2       1.00
3      2487200875  20141209T000000   604000.0         4       3.00
4      1954400510  20150218T000000   510000.0         3       2.00
5      7237550310  20140512T000000  1225000.0         4       4.50
6      1321400060  20140627T000000   257500.0         3       2.25
7      2008000270  20150115T000000   291850.0         3       1.50
8      2414600126  20150415T000000   229500.0         3       1.00
9      3793500160  20150312T000000   323000.0         3       2.50
10     1736800520  20150403T000000   662500.0         3       2.50
11     9212900260  20140527T000000   468000.0         2       1.00
12      114101516  20140528T000000   310000.0         3       1.00
13     6054650070  20141007T000000   400000.0         3       1.75
14     1175000570  20150312T000000   530000.0         5       2.00
15     9297300055  20150124T000000   650000.0         4       3.00
16     1875500060  20140731T000000   395000.0         3       2.00
17     6865200140  20140529T000000   485000.0         4       1.00
18       16000397  20141205T000000   189000.0         2       1.00
19     7983200060  20150424T000000   230000.0         3       1.00
20     6300500875  20140514T000000   385000.0         4       1.75
21     2524049179  20140826T000000  2000000.0         3       2.75
22     7137970340  20140703T000000   285000.0         5       2.50
23     8091400200  20140516T000000   252700.0         2       1.50
24     3814700200  20141120T000000   329000.0         3       2.25
25     1202000200  20141103T000000   233000.0         3       2.00
26     1794500383  20140626T000000   937000.0         3       1.75
27     3303700376  20141201T000000   667000.0         3       1.00
28     5101402488  20140624T000000   438000.0         3       1.75
29     1873100390  20150302T000000   719000.0         4       2.50
...           ...              ...        ...       ...        ...
21583  2025049203  20140610T000000   399950.0         2       1.00
21584   952006823  20141202T000000   380000.0         3       2.50
21585  3832050760  20140828T000000   270000.0         3       2.50
21586  2767604724  20141015T000000   505000.0         2       2.50
21587  6632300207  20150305T000000   385000.0         3       2.50
21588  2767600688  20141113T000000   414500.0         2       1.50
21589  7570050450  20140910T000000   347500.0         3       2.50
21590  7430200100  20140514T000000  1222500.0         4       3.50
21591  4140940150  20141002T000000   572000.0         4       2.75
21592  1931300412  20150416T000000   475000.0         3       2.25
21593  8672200110  20150317T000000  1088000.0         5       3.75
21594  5087900040  20141017T000000   350000.0         4       2.75
21595  1972201967  20141031T000000   520000.0         2       2.25
21596  7502800100  20140813T000000   679950.0         5       2.75
21597   191100405  20150421T000000  1575000.0         4       3.25
21598  8956200760  20141013T000000   541800.0         4       2.50
21599  7202300110  20140915T000000   810000.0         4       3.00
21600   249000205  20141015T000000  1537000.0         5       3.75
21601  5100403806  20150407T000000   467000.0         3       2.50
21602   844000965  20140626T000000   224000.0         3       1.75
21603  7852140040  20140825T000000   507250.0         3       2.50
21604  9834201367  20150126T000000   429000.0         3       2.00
21605  3448900210  20141014T000000   610685.0         4       2.50
21606  7936000429  20150326T000000  1007500.0         4       3.50
21607  2997800021  20150219T000000   475000.0         3       2.50
21608   263000018  20140521T000000   360000.0         3       2.50
21609  6600060120  20150223T000000   400000.0         4       2.50
21610  1523300141  20140623T000000   402101.0         2       0.75
21611   291310100  20150116T000000   400000.0         3       2.50
21612  1523300157  20141015T000000   325000.0         2       0.75

       sqft_living  sqft_lot  floors  waterfront  view     ...      grade  \
0             1180      5650     1.0           0     0     ...          7
1             2570      7242     2.0           0     0     ...          7
2              770     10000     1.0           0     0     ...          6
3             1960      5000     1.0           0     0     ...          7
4             1680      8080     1.0           0     0     ...          8
5             5420    101930     1.0           0     0     ...         11
6             1715      6819     2.0           0     0     ...          7
7             1060      9711     1.0           0     0     ...          7
8             1780      7470     1.0           0     0     ...          7
9             1890      6560     2.0           0     0     ...          7
10            3560      9796     1.0           0     0     ...          8
11            1160      6000     1.0           0     0     ...          7
12            1430     19901     1.5           0     0     ...          7
13            1370      9680     1.0           0     0     ...          7
14            1810      4850     1.5           0     0     ...          7
15            2950      5000     2.0           0     3     ...          9
16            1890     14040     2.0           0     0     ...          7
17            1600      4300     1.5           0     0     ...          7
18            1200      9850     1.0           0     0     ...          7
19            1250      9774     1.0           0     0     ...          7
20            1620      4980     1.0           0     0     ...          7
21            3050     44867     1.0           0     4     ...          9
22            2270      6300     2.0           0     0     ...          8
23            1070      9643     1.0           0     0     ...          7
24            2450      6500     2.0           0     0     ...          8
25            1710      4697     1.5           0     0     ...          6
26            2450      2691     2.0           0     0     ...          8
27            1400      1581     1.5           0     0     ...          8
28            1520      6380     1.0           0     0     ...          7
29            2570      7173     2.0           0     0     ...          8
...            ...       ...     ...         ...   ...     ...        ...
21583          710      1157     2.0           0     0     ...          7
21584         1260       900     2.0           0     0     ...          7
21585         1870      5000     2.0           0     0     ...          7
21586         1430      1201     3.0           0     0     ...          8
21587         1520      1488     3.0           0     0     ...          8
21588         1210      1278     2.0           0     0     ...          8
21589         2540      4760     2.0           0     0     ...          8
21590         4910      9444     1.5           0     0     ...         11
21591         2770      3852     2.0           0     0     ...          8
21592         1190      1200     3.0           0     0     ...          8
21593         4170      8142     2.0           0     2     ...         10
21594         2500      5995     2.0           0     0     ...          8
21595         1530       981     3.0           0     0     ...          8
21596         3600      9437     2.0           0     0     ...          9
21597         3410     10125     2.0           0     0     ...         10
21598         3118      7866     2.0           0     2     ...          9
21599         3990      7838     2.0           0     0     ...          9
21600         4470      8088     2.0           0     0     ...         11
21601         1425      1179     3.0           0     0     ...          8
21602         1500     11968     1.0           0     0     ...          6
21603         2270      5536     2.0           0     0     ...          8
21604         1490      1126     3.0           0     0     ...          8
21605         2520      6023     2.0           0     0     ...          9
21606         3510      7200     2.0           0     0     ...          9
21607         1310      1294     2.0           0     0     ...          8
21608         1530      1131     3.0           0     0     ...          8
21609         2310      5813     2.0           0     0     ...          8
21610         1020      1350     2.0           0     0     ...          7
21611         1600      2388     2.0           0     0     ...          8
21612         1020      1076     2.0           0     0     ...          7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
0            1180              0      1955             0    98178  47.5112
1            2170            400      1951          1991    98125  47.7210
2             770              0      1933             0    98028  47.7379
3            1050            910      1965             0    98136  47.5208
4            1680              0      1987             0    98074  47.6168
5            3890           1530      2001             0    98053  47.6561
6            1715              0      1995             0    98003  47.3097
7            1060              0      1963             0    98198  47.4095
8            1050            730      1960             0    98146  47.5123
9            1890              0      2003             0    98038  47.3684
10           1860           1700      1965             0    98007  47.6007
11            860            300      1942             0    98115  47.6900
12           1430              0      1927             0    98028  47.7558
13           1370              0      1977             0    98074  47.6127
14           1810              0      1900             0    98107  47.6700
15           1980            970      1979             0    98126  47.5714
16           1890              0      1994             0    98019  47.7277
17           1600              0      1916             0    98103  47.6648
18           1200              0      1921             0    98002  47.3089
19           1250              0      1969             0    98003  47.3343
20            860            760      1947             0    98133  47.7025
21           2330            720      1968             0    98040  47.5316
22           2270              0      1995             0    98092  47.3266
23           1070              0      1985             0    98030  47.3533
24           2450              0      1985             0    98030  47.3739
25           1710              0      1941             0    98002  47.3048
26           1750            700      1915             0    98119  47.6386
27           1400              0      1909             0    98112  47.6221
28            790            730      1948             0    98115  47.6950
29           2570              0      2005             0    98052  47.7073
...           ...            ...       ...           ...      ...      ...
21583         710              0      1943             0    98102  47.6413
21584         940            320      2007             0    98116  47.5621
21585        1870              0      2009             0    98042  47.3339
21586        1430              0      2009             0    98107  47.6707
21587        1520              0      2006             0    98125  47.7337
21588        1020            190      2007             0    98117  47.6756
21589        2540              0      2010             0    98038  47.3452
21590        3110           1800      2007             0    98074  47.6502
21591        2770              0      2014             0    98178  47.5001
21592        1190              0      2008             0    98103  47.6542
21593        4170              0      2006             0    98056  47.5354
21594        2500              0      2008             0    98042  47.3749
21595        1480             50      2006             0    98103  47.6533
21596        3600              0      2014             0    98059  47.4822
21597        3410              0      2007             0    98040  47.5653
21598        3118              0      2014             0    98001  47.2931
21599        3990              0      2003             0    98053  47.6857
21600        4470              0      2008             0    98004  47.6321
21601        1425              0      2008             0    98125  47.6963
21602        1500              0      2014             0    98010  47.3095
21603        2270              0      2003             0    98065  47.5389
21604        1490              0      2014             0    98144  47.5699
21605        2520              0      2014             0    98056  47.5137
21606        2600            910      2009             0    98136  47.5537
21607        1180            130      2008             0    98116  47.5773
21608        1530              0      2009             0    98103  47.6993
21609        2310              0      2014             0    98146  47.5107
21610        1020              0      2009             0    98144  47.5944
21611        1600              0      2004             0    98027  47.5345
21612        1020              0      2008             0    98144  47.5941

          long  sqft_living15  sqft_lot15
0     -122.257           1340        5650
1     -122.319           1690        7639
2     -122.233           2720        8062
3     -122.393           1360        5000
4     -122.045           1800        7503
5     -122.005           4760      101930
6     -122.327           2238        6819
7     -122.315           1650        9711
8     -122.337           1780        8113
9     -122.031           2390        7570
10    -122.145           2210        8925
11    -122.292           1330        6000
12    -122.229           1780       12697
13    -122.045           1370       10208
14    -122.394           1360        4850
15    -122.375           2140        4000
16    -121.962           1890       14018
17    -122.343           1610        4300
18    -122.210           1060        5095
19    -122.306           1280        8850
20    -122.341           1400        4980
21    -122.233           4110       20336
22    -122.169           2240        7005
23    -122.166           1220        8386
24    -122.172           2200        6865
25    -122.218           1030        4705
26    -122.360           1760        3573
27    -122.314           1860        3861
28    -122.304           1520        6235
29    -122.110           2630        6026
...        ...            ...         ...
21583 -122.329           1370        1173
21584 -122.384           1310        1415
21585 -122.055           2170        5399
21586 -122.381           1430        1249
21587 -122.309           1520        1497
21588 -122.375           1210        1118
21589 -122.022           2540        4571
21590 -122.066           4560       11063
21591 -122.232           1810        5641
21592 -122.346           1180        1224
21593 -122.181           3030        7980
21594 -122.107           2530        5988
21595 -122.346           1530        1282
21596 -122.131           3550        9421
21597 -122.223           2290       10125
21598 -122.264           2673        6500
21599 -122.046           3370        6814
21600 -122.200           2780        8964
21601 -122.318           1285        1253
21602 -122.002           1320       11303
21603 -121.881           2270        5731
21604 -122.288           1400        1230
21605 -122.167           2520        6023
21606 -122.398           2050        6200
21607 -122.409           1330        1265
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21610 -122.299           1020        2007
21611 -122.069           1410        1287
21612 -122.299           1020        1357

[21613 rows x 21 columns]>